.vc {
  font-weight: bold;
}

.jogando {
  color: yellow;
}

table { 
	border-collapse: collapse; 
	margin:50px auto;
}


th { 
	background: #7777; 
	color: white; 
	font-weight: bold; 
}

td, th { 
	padding: 10px; 
	border: 1px solid #ccc; 
	text-align: left; 
	font-size: 16px;
}